<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1> 
        消费项目：<input v-model.lazy="newList.name"/>  消费金额：<input v-model.number.lazy="newList.money"/> 
        <button @click="addNewList()" >添加</button> 
        <ul>
            <li style="font-size:large" v-for="(item,index) in list">{{item.name}}<input v-model.number.lazy="item.money"/></li>
           
        </ul>
        <h2>消费项目总计：{{list.length}} </h2>   
        <h2>消费金额总计：{{sum}}元 </h2>
        <div style="font-size:24px;font-weight:bold">消费超支情况：
            <span style="color:red;" v-if="sum>1000">超支</span>
            <span style="color:green;" v-else>未超支</span>
        </div> 
        
        点赞数：{{count}}
        <button v-on:click="addlike()">点赞</button>
        <button @click="addlike()">点赞</button>

    </div>
    <script>
        var vm=new Vue({
            el: "#app",
            data: { title:'我本月的生活费清单',
                    count:0,
                    newList:{
                        name:'',
                        money:0
                    },
                    list:[
                        {name:"餐费",money:500},
                        {name:"饮料",money:300},
                        {name:"话费",money:200},
                        {name:"其他",money:100}          
                    ]
            },
            computed:{
                sum:function(){
                    var s=0;
                    for(var i=0;i<this.list.length;i++){
                        s += this.list[i].money;
                    }
                    return s;
                }
            },
            methods: {
                addlike:function(){
                    this.count++;
                },
                addNewList:function(){
                    this.list.push(this.newList);
                    this.newList={
                        name:'',
                        money:0
                    };
                }
            },
        })
    </script>
</body>
</html> 